@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300;1,500;1,600;1,800&display=swap');

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color:#ffff ;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input,textarea{
    border: none;
    outline: none;
}
.MainBtn{
    border: none;
    outline: none;
}
/***************NAV*********************/
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    left: 0;
    top:0;
    width: 100%;
    z-index: 1;
}

nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 0.73rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition-timing-function: 0.6s ease-in-out;
    color: rgb(9, 10, 10);
}
nav ul li a:hover{
    background-color: rgb(252, 252, 252);
    color: black;
    box-shadow: 5px 10px 30px #c696fc;
}
.active{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 5px 10px 30px #be87fd;
}
.profile_name{
    color: white;
    background-color: rgb(255, 255, 255);

    box-shadow: 5px 10px 30px #be87fd;
}
.main{
    width: 100%;
    height: 800px;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/bg.jpg);
}
img {
    max-width: 100%;
    max-height: 100%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 10px;
    height: 100px;
    width: 200px;

}

.main-heading{
    width: 500px;
    position: absolute;
    left: 16%;
    top: 47%;
    transform: translate(-16%,-47%);
}
.main-heading h1{
    font-size: 45px;
    margin: 0px;
    letter-spacing: 3px;
    color: #ffff;
}
.main-heading p{
    font-size: 20px;
    color: #ffffff;
    margin-left: 12px;
}
.main-btn{
    margin-top: 10px ;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(to left, #ac4afc, #003feb);
    border-radius: 10px;
    color: #ffff;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}
/*.post-btn{
   margin-top: 10px ;
   width: 120px;
   height: 40px;
   display: flex;
   justify-content:right;
   align-items: center;
   background: linear-gradient(to left, #ac4afc, #003feb);
   border-radius: 10px;
   color: #ffff;
   transition: 0.6s ease-in-out;
   cursor: pointer;
} */
.main-btnn{
    margin-top: 10px ;
    margin-left: 12px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 0.6s ease-in-out;
}
.maim-btn:hover{
    box-shadow: 5px 10px 30px #dd9ffa;
}

.maim-btn:hover{
    box-shadow: 5px 10px 30px #dd9ffa;
}


.feature{
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: -100px;
}
.feature-container{
    display: flex;
    justify-content: center;
    align-items:center;
}
.feature-box{
    background-color: #ffff;
    width: 300px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 10px 30px #d3adff;;
}
.f-img{
    width: 100%;
    height: 63%;
}
.f-img img{
    width: 100%;
    height: 100%;
}
.f-text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.f-text h4{
    margin-top: -12px;

}

.about{
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 500px;
    margin-bottom: 300px;
}
.about-text{
    align-items: center;
    justify-content: center;
    width: 45%;
    color:#000000;
    text-align: right;
    margin-bottom: 300px;
    margin-right: 100px;
}
.about-text h2{
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;

}
.about-text p{
    font-size: 2rem;
    color: #000000;
    margin-left: 100px;
}
.about-text .MainBtn{
    float: right;
}
